appnope
ase
asttokens
comm
contourpy
cycler
debugpy
decorator
executing
fastparquet
fonttools
ipykernel
ipython
jedi
jupyter
kiwisolver
matplotlib
matplotlib-inline
more_itertools
mpmath
nest-asyncio
notebook
numpy
openpyxl
packaging
pandas
parso
pexpect
Pillow
plotly
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pymatgen
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scipy
six
stack-data
sympy
tornado
traitlets
tzdata
wcwidth
